.newMember_backg{
    position: fixed;
    top:0; left: 0; 
    width: 100%; height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center; align-items: center;
    // display: none;
    .newMember{
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        width: 864px; 
        border-radius: 29px;
        background: #FFF;
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        .newMember_head{
            width: 85%; 
            margin: 0 auto; padding: 7% 0 3% 0;
            .newMember_head_top{
                display: flex; 
                justify-content: space-between; align-items: flex-start;
                figure{
                    img{width: 40%;}
                }
                a{width: 25px; height: 25px;}
            }
            .newMember_head_bot{
                hr{
                    height: 1px;background: #23402A;
                    margin-top: 10px;
                }
            }
        }
        .newMember_body{
            width: 85%; margin: 0 auto;
            display: flex; justify-content: space-between;
            .newMember_left{
                h2{ 
                    color: #23402A;
                    text-align: left;
                    font-size: 35px;
                    font-weight: 700;
                    line-height: normal;
                    span{font-weight: 400;}
                }
                p{  
                    padding: 10% 0;
                    color: #23402A;
                    font-size: 16px;
                    font-weight: 400;
                    span{font-weight: 700;}
                }
            }
            .newMember_right{
                width: 49%;
                display: flex; flex-direction: column;
                align-items: flex-end;
                .info_input{
                    color: #23402A;
                    text-align: left;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    li{
                        p{  
                            padding: 3% 0;
                            margin-left: -10px;
                            span{
                                font-weight: bold;
                                color:#F30C0C;
                            }
                        }
                        input{
                        width: 100%;
                        height: 45px;
                        border-radius: 8px;
                        border: 2px solid #23402A;
                        background: #FFF;
                        margin-bottom: 15px;
                        padding: 5%;
                            &::placeholder{
                                color: #D9D9D9;
                                text-align: left;
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                        button{
                            width: 150px;
                            height: 45px;
                            border: 2px solid #23402A;
                            border-radius: 8px; background: #23402A;
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: normal;
                            cursor: pointer;
                            margin-left: 10px;
                        }
                        .email{display: flex; justify-content: space-between;}
                        }
                    .names{
                        display: flex; justify-content: space-between;
                        .name_left, .name_right{width: 47%;}
                    }
                    .tels{
                        display: flex; justify-content: space-between;
                        flex-direction: column;
                        div{
                            display: flex; 
                            justify-content: space-between;
                        }
                        .tel_input input:nth-child(1){ width: 30%; }
                        .tel_input input:nth-child(2){ width: 65%; }
                    }
                }
                .plz_agree{
                    width: 100%;
                    border: 2px solid #23402A;
                    color: #23402A;
                    font-size: 11px;
                    font-weight: 600;
                    line-height: normal;
                    margin-bottom: 50px;
                    margin-top: 20px;
                    .agree_top{
                        border-bottom: 2px solid #23402A;
                        display: flex; justify-content: space-between;
                        padding: 3% 5%;
                        div{
                            input{display: none;}
                            input +label{
                                display:block;
                                width:100%; height:16px;
                                background: url('../sub/img/members/checkbox_none.png') no-repeat 0 0px / contain;
                                cursor: pointer;
                            }
                            input:checked +label{
                                background: url('../sub/img/members/checkbox_checked.png') no-repeat 0 0px / contain;
                            }
                            label::after{
                                content: '전체 약관 동의';
                                margin-left: 20px;
                                color: #23402A;
                                text-align: center;
                            }
                        }
                    }
                    .agree_mid{
                        display: flex; flex-direction: column;
                        padding: 5%;
                        li{
                            display: flex; justify-content: space-between;
                            padding: 2% 0;
                            div{
                                input{display: none;}
                                input +label{
                                    display:block;
                                    width:100%; height:16px;
                                    background: url('../sub/img/members/checkbox_none.png') no-repeat 0 0px / contain;
                                    cursor: pointer;
                                }
                                input:checked +label{
                                    background: url('../sub/img/members/checkbox_checked.png') no-repeat 0 0px / contain;
                                }
                                // label::after{
                                //     content: '이용약관(필수)';
                                //     margin-left: 20px;
                                //     color: #23402A;
                                //     text-align: center;
                                // }
                                label span{
                                    margin-left: 20px;
                                    color: #23402A;
                                    text-align: center;
                                }
                                // label:nth-of-type(1)::after{content: '이용약관(필수)';}
                                // label:nth-of-type(2)::after{content: '개인정보 수집 및 이용 동의 (필수)';}
                                // label:nth-of-type(3)::after{content: '개인정보의 제 3자 제공 동의 (필수)';}
                            }
                            a{}
                        }
                    }
                    .agree_bot{
                        button{
                            width: 100%;
                            height: 45px;
                            border: 2px solid rgb(35, 64, 42);
                            background: #23402A;
                            color: #FFF;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: normal;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}